@import '~@reuters-graphics/style-theme-eisbaer/scss/main';
@import '~@reuters-graphics/style-color/scss/thematic/brand';

#{$MyChartModule-container} {
  /* Write your chart styles here */
  .axis {
    pointer-events: none;
    text {
      font-family: $font-family-sans-serif;
      fill: $gray-400;
      font-size: 0.875rem;
    }

    line,
    path {
      stroke: $gray-200;
      stroke-width: 0.5;
    }

    path.domain {
      display: none;
    }
  }
}
